body {
    text-align: center;
    background-color: #ac1a25;
    direction: rtl;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

.heading {
    color: #002535;
    font-family: 'Ara Hamah AlHorra';
    
}

section {
    color: #efe8be;
    border: solid;
}

p {
    position: relative;
    width: 50%;
    right: 25%;
    text-align: justify;
}

@font-face {
    font-family: 'Ara Hamah AlHorra';
    src: url('AraHamahAlHorra-Regular.eot');
    src: url('AraHamahAlHorra-Regular.eot?#iefix') format('embedded-opentype'),
        url('AraHamahAlHorra-Regular.woff2') format('woff2'),
        url('AraHamahAlHorra-Regular.woff') format('woff'),
        url('AraHamahAlHorra-Regular.ttf') format('truetype'),
        url('AraHamahAlHorra-Regular.svg#AraHamahAlHorra-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}